@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* ===== CSS Components ===== */
@import url("./Sidebar.css");
@import url("./Navbar.css");
@import url("./StatisticsCard.css");
@import url("./BannerIntro.css");
/* ===== *** ===== */

:root {
	--primary: #3a57e8;
	--primaryHover: #233fca;
	--primary-alt: #232d42;
	--buttonColor: #08b1ba;
	--buttonColorHover: #00a6af;
	--btnDanger: #ee3333;
	--btnDangerHover: #dd1919;
	--white: #ffffff;
	--grey: #8a92a6;
	--dark: #1e293b;
	--dark-alt: #334155;
	--light-bg: #f2f2f2;
	--sidebar-width: 300px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--light);
	font-family: "Poppins", sans-serif;
	color: var(--grey);
	font-size: 16px;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.wrapper {
	display: flex;
}
.main {
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
}

/* .main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	transition: all 0.35s ease-in-out;
	background-color: var(--light-bg);
}
.main {
	position: relative;
	left: 0px;
	height: 100vh;
	width: calc(100% - 250px);
	transition: var(--tran-05);
}

aside.is-expanded ~ .main {
	left: 0px;
	width: calc(100% - 88px);
} */
