@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* ===== CSS Components ===== */
@import url("./Sidebar.css");
@import url("./Navbar.css");
@import url("./StatisticsCard.css");
@import url("./BannerIntro.css");
/* ===== *** ===== */

:root {
	--primary: #3a57e8;
	--primaryHover: #233fca;
	--primary-alt: #232d42;
	--buttonColor: #08b1ba;
	--buttonColorHover: #00a6af;
	--btnDanger: #ee3333;
	--btnDangerHover: #dd1919;
	--white: #ffffff;
	--grey: #8a92a6;
	--dark: #1e293b;
	--dark-alt: #334155;
	--light-bg: #f2f2f2;
	--sidebar-width: 300px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--light-bg);
	font-family: "Poppins", sans-serif;
	color: var(--grey);
	font-size: 16px;
}

a {
	text-decoration: none !important;
}

li {
	list-style: none !important;
}

.wrapper {
	position: relative;
	height: auto;
	width: 100%;
	display: flex;
	align-items: center;
}
.main {
	position: relative;
	width: calc(100% - 240px);
	left: 240px;
	height: auto !important;
	transition: all 0.5s ease;
}
aside.is-expanded ~ .main {
	width: calc(100% - 88px);
	left: 88px;
}
