aside {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh !important;
	width: 240px;
	padding: 10px 14px;
	background-color: #fff;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease-in-out;
	z-index: 2;
}

aside .header {
	position: relative;
	margin-bottom: 1.5rem;
}
aside .aside-logo img {
	width: 35px;
}
aside .header .aside-logo {
	display: flex;
	align-items: center;
}
.header .aside-logo .header-text {
	display: flex;
	flex-direction: column;
}
.header-text .name {
	font-size: 1rem;
	font-weight: 600;
}

aside .header .aside-logo span {
	padding: 0rem 1rem;
	color: var(--primary-alt);
}
aside .header .toggle {
	position: absolute;
	top: 30%;
	right: -25px;
	transform: translateY(-30%);
	width: 30px;
	height: 30px;
	background-color: var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: #fff;
	font-size: 25px;
	transition: all 0.4s ease;
	cursor: pointer;
}
aside .header .toggle:hover {
	background-color: var(--primaryHover);
}
aside .menu-bar .menu ul {
	padding-left: 10px !important;
}

aside li .ancla-link {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	border-radius: 6px;
	transition: all 0.4s ease;
}

aside h3,
aside .ancla-link .text,
aside .ancla-link .icon,
aside .aside-logo .text {
	opacity: 1;
	transition: opacity all 0.4s ease-in-out;
}
aside h3 {
	color: var(--grey);
	font-size: 0.875rem;
	margin-bottom: 0.5rem;
	text-transform: uppercase;
}

aside .menu-bar {
	height: calc(100% - 50px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
aside .menu {
	margin: 0 -1rem;
	padding: 0 1rem;
}
aside .menu .ancla-link {
	display: flex;
	align-items: center;
	font-size: 18px;
	color: var(--grey);
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
	padding: 0.6rem 1rem;
	border-radius: 5px;
	margin: 5px 0px;
}
aside .menu .link-collapse {
	margin-left: 0%;
}
aside .menu div button {
	color: var(--grey);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
	background: transparent;
}
aside .menu-bar .menu .menu-links .nav-link .collapse-aside {
	padding-left: 30px !important;
}
aside.is-expanded .menu-bar .menu .menu-links .nav-link .collapse-aside {
	padding-left: 0px !important;
}

aside .menu .ancla-linkn .icon {
	font-size: 2rem;
	color: var(--grey);
	transition: all 0.4s ease-in-out;
}
aside .menu .ancla-link .text {
	color: var(--grey);
	transition: all 0.4s ease-in-out;
}
aside .menu .ancla-link:hover {
	background-color: rgba(138, 146, 166, 0.3);
}
aside .menu .ancla-link:hover .icon,
aside .menu .ancla-link:hover .text {
	color: var(--primary);
}
aside .menu .ancla-link.router-link-exact-active {
	background-color: var(--primary);
}
aside .menu .ancla-link.router-link-exact-active .icon,
aside .menu .ancla-link.router-link-exact-active .text {
	color: var(--white);
}

aside.is-expanded {
	width: 88px;
}
aside.is-expanded .toggle {
	transform: translateY(-30%) rotate(180deg);
}
aside.is-expanded h3,
aside.is-expanded .ancla-link .text,
aside.is-expanded .aside-logo .text {
	opacity: 0;
}
aside.is-expanded .ancla-link .icon {
	margin-right: 1rem;
}
aside.is-expanded .footer {
	opacity: 0;
}
@media (max-width: 1024px) {
	aside {
		position: absolute;
		z-index: 99;
	}
}
